$COLOR_BEIGE: #F1E0B1;
$COLOR_GREEN: #7DBEA5;
$COLOR_YELLOW: #EE9D31;
$COLOR_ORANGE: #F26C1A;
$COLOR_BROWN: #5A392B;
$COLOR_GRAY: #444;
$COLOR_LIGHT_GRAY: #777;

$COLOR_WHITE: #FCFFF5;
$COLOR_BLUE_1: #CBDBD7;
$COLOR_BLUE_2: #91AAB4;
$COLOR_BLUE_3: #3E606F;
$COLOR_BLUE_4: #193441;