#page-user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .info, .bio, .repos{
        flex-grow: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: $COLOR_BLUE_3;
        color: $COLOR_WHITE;
        padding: 15px;
        margin: 15px;
    }
    .info{
        flex-basis: 30%;
        display: flex;
        flex-direction: row;
        .avatar{
            flex-basis: 100px;
            width: 100px;
            padding-right: 15px;
            img{
                max-width: 100%;
                border-radius: 5px;
                border: 1px solid $COLOR_WHITE;
            }
        }
        .name{
            flex-grow: 1;
            h2{
                text-align: left;
            }
        }
    }
    .bio{
        flex-basis: 50%;
    }
    .repos{
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > h2{
            flex-basis: 100%;
        }
        .repo-item{
            display: block;
            border-radius: 5px;
            margin: 10px;
            padding: 15px;
            box-shadow: 0 0 10px $COLOR_BLUE_4;
            flex: 1 0 25%;
            transition: background-color 0.5s, box-shadow 0.5s;
            color: $COLOR_BLUE_2;
            word-break: break-all;
            h2{
                text-align: left;
                color: $COLOR_WHITE;
            }
            .language {
                display: inline-block;
                padding: 5px 7px;
                border-radius: 3px;
                border: 1px solid $COLOR_LIGHT_GRAY;
                font-size: 11px;
                background: $COLOR_BLUE_3;
                color: $COLOR_WHITE;
            }
        }
        .repo-item:hover{
            box-shadow: 0 0 10px $COLOR_BLUE_2;
        }
    }
    .search{
        flex-basis: 100%;
        text-align: center;
        .btn{
            width: 200px;
            display: inline-block;
            line-height: 50px;
            font-size: 16px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 500px) {
    #page-user{
        .repos{
            .repo-item{
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}