@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif; }

body {
  background: #F1E0B1; }

#app {
  margin: 0 auto;
  max-width: 1200px; }
