@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import "colors.scss";
@import "./awesome/font-awesome.scss";

* {
    text-decoration: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    border: 0 none;
    font-weight: normal;
}

html, body, #root{
    height: 100%;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
}

body {
    background: $COLOR_BLUE_4;
    color: $COLOR_GRAY;
    font-size: 13px;
}

#root {
    margin: 0 auto;
    max-width: 900px;
}

h2{
    padding: 0;
    margin: 0;
    text-align: center;
}

.btn{
    background: $COLOR_BLUE_2;
    color: $COLOR_WHITE;
    border-radius: 25px;
    height: 50px;
    color: $COLOR_BLUE_4;
}

.btn-large{
    border-radius: 35px;
    height: 70px;
}

@import "home.scss";
@import "user.scss";